In [6]:
# 1a. Load the provided CSV file into a pandas DataFrame

import pandas as pd

acc_info = pd.read_csv('acc_players-2324F.csv', skiprows=1)

In [7]:
# 1b. Display the first 5 rows of the DataFrame

print(acc_info.head())

   Rk         Player Class Pos          School   G   MP  TRB  AST  STL  ...  \
0   1   Amaree Abram    SO   G    Georgia Tech  10  108   17   11    1  ...
1   2   Sola Adebisi    FR   F   Florida State   7    9    1    1    0  ...
2   3  Prince Aligbe    SO   F  Boston College  35  651  119   21   15  ...
3   4     Abe Atiyeh    SR   G  Boston College   4    6    0    0    0  ...
4   5    Zack Austin    JR   F      Pittsburgh  33  746  137   29   32  ...

   TOV  PF  PTS    FG%    2P%    3P%    FT%   PER   WS  BPM
0    9  10   34  0.262  0.318  0.200  0.615   4.1 -0.1 -6.4
1    1   1    2  0.500  0.500    NaN    NaN   3.5  0.0 -6.7
2   30  51  164  0.435  0.522  0.147  0.620   9.4  0.9 -1.3
3    1   0    3  0.333  0.000  1.000    NaN   1.1  0.0 -8.2
4   13  35  216  0.417  0.563  0.295  0.737  18.0  2.9  7.9

[5 rows x 21 columns]

In [8]:
# 2a. Calculate the total points scored by all players combined

sum_points = acc_info['PTS'].sum()
print(sum_points)

38411

In [10]:
# 2b. Find the player who has played the most minutes

max_mins = acc_info['MP'].max()
player_max_mins = acc_info[acc_info['MP'] == max_mins]['Player']
print(player_max_mins)

135    Casey Morsell
Name: Player, dtype: object

In [11]:
# 2c. Identify the top 5 players in terms of total rebounds

max_reb = acc_info['TRB'].nlargest(5)
top_rbd_players = acc_info[acc_info['TRB'].isin(max_reb)]['Player']
print(top_rbd_players)

5        Armando Bacot
44      Mohamed Diarra
90     Harrison Ingram
149      Norchad Omier
178    Ian Schieffelin
Name: Player, dtype: object

In [14]:
# 3a. Create a new DataFrame containing only players who played more than 500 minutes

players_500 = acc_info[acc_info['MP'] > 500]

In [15]:
# 3b. In new DataFrame, determine the player with the highest total assists

max_ast = players_500['AST'].max()
player_max_ast = players_500[players_500['AST'] == max_ast]['Player']
print(player_max_ast)

7    Reece Beekman
Name: Player, dtype: object

In [16]:
# 3c. Who are the top 3 assist leaders in the league?

max_ast = acc_info['AST'].nlargest(3)
top_ast_players = acc_info[acc_info['AST'].isin(max_ast)]['Player']
print(top_ast_players)

7       Reece Beekman
21      Elliot Cadeau
215    Jaeden Zackery
Name: Player, dtype: object

In [17]:
# 3d. Who are the top 3 shot blockers?

max_blk = acc_info['BLK'].nlargest(3)
top_blk_players = acc_info[acc_info['BLK'].isin(max_blk)]['Player']
print(top_blk_players)

5      Armando Bacot
51         Ryan Dunn
157     Quinten Post
Name: Player, dtype: object

In [18]:
# 4a. Group the players by school and calculate the total points scored by each school

school_points = acc_info.groupby('School')['PTS'].sum()
print(school_points)

School
Boston College    2667
Clemson           2785
Duke              2830
Florida State     2526
Georgia Tech      2272
Louisville        2304
Miami (FL)        2424
NC State          3101
North Carolina    3032
Notre Dame        2113
Pittsburgh        2495
Syracuse          2442
Virginia          2140
Virginia Tech     2547
Wake Forest       2733
Name: PTS, dtype: int64

In [19]:
# 4b. Group the players by school and calculate the total assists for each team

school_assists = acc_info.groupby('School')['AST'].sum()
print(school_assists)

School
Boston College    509
Clemson           533
Duke              551
Florida State     406
Georgia Tech      425
Louisville        356
Miami (FL)        454
NC State          536
North Carolina    536
Notre Dame        335
Pittsburgh        452
Syracuse          442
Virginia          509
Virginia Tech     514
Wake Forest       429
Name: AST, dtype: int64

In [21]:
# 4c. Sort the schools by total points scored and display the top 3 schools

top_3_schools = school_points.nlargest(3)
print(top_3_schools)

School
NC State          3101
North Carolina    3032
Duke              2830
Name: PTS, dtype: int64